body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
  
}
#app {
  display: block;
  width: 100vw;
  height: 100vh;
}
#classroom-details {
  position: absolute;
  left: 3vw;
  top: 20px;
  width: 29vw;
}
#clock {
  transform-origin: top left;
}
#classroom {
  position: absolute;
  left: 29vw;
  transform-origin: top center;
}
.row {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.desk {
  touch-action: none;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  background-color: gray;
  text-align: center;
  line-height: 100px;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#import-button {
  text-align: center;
  margin-top: 40px;
}
#import-button button {
  margin-bottom: 5px;
}
#import-button input {
  width: 174px;
}
.attendance-present {
  background-color: rgba(0, 255, 0, .3);
}
.attendance-absent {
  background-color: rgba(255, 0, 0, .3);
}
.absent {
  opacity: 0.2;
}

#random-name {
  font-weight: bolder;
  display: inline-block;
}

button {
  margin-bottom: 40px;
}
#tfh-button {
  margin-top: 40px;
}
#generate-name-button, #generate-name-button-no-repeats {
  margin-bottom: 0;
}
#toggle-quickattendance-button {
  margin-bottom: 20px;
}
#attendance-notes {
  font-size: smaller;
  color: red;
  width: 80%;
  margin-top: 0;
}
#export-attendance-button {
  position: absolute;
  top: 91vh;
}
#no-date, #confirm-remove { 
  margin-right: 10px;
}
.individual-desk {
  transform-origin: top left;
}
.remove-student-button {
  transform-origin: center center;
  position: absolute;
  display: inline-block;
  margin-left: -0.85vw;
  margin-top: .6vw;
  text-align: center;
  background-color: white;
  width: 1.5vw;
  height: 1.5vw;
  font-size: large;
  line-height: .8; /* Lowercase x lineheight: .8,  Uppercase X lineheight: 1   */
  border-radius: 50%;
  font-weight: bolder;
  border: rgba(0, 0, 0, .2) 1px solid;
  color: rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}
.remove-student-button:hover {
  color: #aa0202;
}

/* SVG Remove Button Attempt */
/* .remove-button {
  width: 100%;
}
.remove-student-button {
  transform-origin: center center;
  position: absolute;
  display: inline-block;
  margin-left: -1.2vw;
  margin-top: .6vw;
  width: 2vw;
  height: 2vw;
  background-color: #727171;
  border-radius: 50%;
  background-size: 1.5vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}
.remove-student-button:hover {
  color: #aa0202;
  background-color: #aa0202;
} */
#removal-confirmation {
  border-radius: 5px;
  position: fixed;
  padding: 2vw 5vw 6vw;
  top: 20vh;
  left: 12vw;
  width: 36vw;
  max-width: 444px;
  height: 20vh;
  max-height: 170px;
  text-align: center;
  background-color: white;
  border: rgba(0, 0, 0, .2) 2px solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  font-weight: bolder;
}
#disable-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
}
#removal-confirmation button {
  margin: 10px 10px;
}
#removal-confirmation button:hover {
  background-color: rgba(0, 0, 0, .2);
}