body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  display: block;
  width: 100vw;
  height: 100vh;
}
#classroom-details {
  position: absolute;
  left: 3vw;
  top: 20px;
  width: 29vw;
}
#clock {
  transform-origin: top left;
}
#classroom {
  position: absolute;
  left: 29vw;
  transform-origin: top center;
}
.row {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.desk {
  touch-action: none;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  background-color: gray;
  text-align: center;
  line-height: 100px;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#import-button {
  text-align: center;
  margin-top: 40px;
}
.attendance-present {
  background-color: rgba(0, 255, 0, .3);
}
.attendance-absent {
  background-color: rgba(255, 0, 0, .3);
}
.absent {
  opacity: 0.2;
  /* z-index: -100; */
}

#random-name {
  font-weight: bolder;
  display: inline-block;
}

button {
  margin-bottom: 40px;
}
#tfh-button {
  margin-top: 40px;
}
#generate-name-button, #generate-name-button-no-repeats {
  margin-bottom: 0;
}
#toggle-quickattendance-button {
  margin-bottom: 20px;
}